1) To ignore a specific file inside a certain folder:

00_database/survey_results_public.csv
00_database/epi_sim.txt

2) To ignore a specific extension like "pdf" and "exe":

*.pdf
*.exe

3) To ignore the checkpoint on jupyter

.ipynb_checkpoints


